name: nuke-run
on: push

env:
  AWS_NUKE_VERSION: 3.51.0
  NUKE_OUTPUT: "None"

jobs:
  run_aws_nuke:
    name: Run aws-nuke
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ secrets.AWS_ASSUMEROLE }}
          aws-region: ap-northeast-1
          
      - name: Install AWS Nuke
        run: |
          wget https://github.com/ekristen/aws-nuke/releases/download/v${{ env.AWS_NUKE_VERSION }}/aws-nuke-v${{ env.AWS_NUKE_VERSION }}-linux-amd64.tar.gz
          tar -xvf aws-nuke-v${{ env.AWS_NUKE_VERSION }}-linux-amd64.tar.gz
          # 実行ファイルの存在を確認
          ls -la  # 展開したファイルをリスト表示
          ./aws-nuke version  # 正しいコマンドを実行

aws sts get-caller-identity --query Account --output text

      - name: Run aws-nuke
        id: run_nuke
        run: |
          ./aws-nuke nuke -c ./nuke-config.yml
